@model ControlePedidos.Models.Pedido
@{
    ViewData["Title"] = "Cadastro de Pedido";
}

<h2>@ViewData["Title"]</h2>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Descricao" class="custom-control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="custom-control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="custom-control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}